
<launch>

	<arg name="spin_rate" default="1" />
	<arg name="camera_topic" default="camera/depth_registered/points" />
	<arg name="down_sample_size" default="0.01" />
	<arg name="pc_save" default="0" />

	<node name="desperate_house_wife_demo" pkg="desperate_housewife" type="phobic_camera" respawn="false" output="screen" >
 		
		<param name="camera_topic" value="$(arg camera_topic)" />
		<param name="down_sample_size" type="double" value="$(arg down_sample_size)"/>
		<param name="spin_rate" value="$(arg spin_rate)" />
		<param name="pc_save" value="$(arg pc_save)" />

	</node>


	<!-- <arg name="stopped_controllers" default="phobic_InverseDynamics" doc="Additional controllers to be loaded, but not started (can be started later with controller_manager)" /> -->

	<!-- <node name="desperate_housewife_HP" pkg="desperate_housewife" type="phobic_hand_pose" respawn="false" output="screen" > 

	</node> -->
	<!-- <arg n --><!-- ame="influence" default="4" />
	<arg name="velocity_max" default="10" />



	<node name="desperate_housewife_MP" pkg="desperate_housewife" type="phobic_motion_planning" respawn="false" output="screen" >

		<param name="influence" value="$(arg influence)" />
		<param name="velocity_max" value="$(arg velocity_max)" />

		
	</node> -->
 	<!-- <group if="$(arg use_robot_sim)">
        <param name="robot_description" command="$(find xacro)/xacro.py $(find vito_description)/robot/$(arg robot_name).urdf.xacro use_mimic_tag:=false"/>
    </group> -->

	<node name="desperate_rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find desperate_housewife)/launch/rviz_config.rviz" output="screen">

  </node>


</launch>

