<launch>
	<rosparam command="load" file="$(find desperate_housewife)/config/desperate_mind_param.yaml" />
	<rosparam command="load" file="$(find desperate_housewife)/config/desperate_home_trash_position.yaml" />
	<node name="test_grafo" pkg="desperate_housewife" type="test_grafo" output="screen" >
  </node>
</launch>